/* ========== Responsive Breakpoints ========== */
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
  /* ===================Rudra css start================== */

  .header {
    padding: 30px 0px;
  }

  /* ===================Rudra css end================== */
}

@media (max-width: 1024.98px) {
  .container {
    max-width: 960px;
  }

  /* ===================Rudra css start================== */
  .header .nav .navbar {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* ===================Rudra css end================== */
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
  }

  .heading-section-wrap .heading h3 {
    font-size: 36px;
    line-height: 45.94px;
  }

  .heading-wrap {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  /* ===================jenali Cline-section css start================== */
  .logos:before,
  .logos:after {
    width: 100px;
    height: 100%;
  }

  .logos-slide img {
    width: 100px;
    height: unset;
    margin: 0 19px;
  }

  /* ===================jenali Cline-section css End================== */



  /* ===================Rudra Service-section Start ================== */

  .service-card {
    padding: 40px;
    height: 250px;
  }

  .Service-gap {
    gap: 20px;
  }

  .service-title {
    font-size: var(--font-small);
  }

  .service-part {
    font-size: var(--font-small);
  }

  .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--secondary-color); /* Dark circle background */
    border-radius: 50%;
    color: var(--Lime-light);
    font-size: var(--font-medium);
    font-weight: 300;
  }

  .icon-circle .arrow {
    font-size: var(--font-large);
    rotate: -35deg;
  }

  .icon-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #1a1a1a; /* Dark circle background */
    border-radius: 50%;
    color: #a3ff33; /* Green color for the arrow */
    font-size: var(--font-medium);
    font-weight: 300;
  }

  .size h4 {
    font-size: 18px;
    font-weight: 500;
  }

  .icon-white .arrow {
    font-size: var(--font-large);
    rotate: -35deg;
  }

  .learn-more .learn {
    display: none;
  }

  .card-image img {
    height: 60%;
    margin-top: 40px;
  }

 
  /* ===================Rudra Service-section End ================== */

  .icon-circle .arrow {
    font-size: 20px;
    rotate: -35deg;
  }

  .icon-white {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: white; /* Dark circle background */
    border-radius: 50%;
    color:black; /* Green color for the arrow */
    font-size: 18px;
    font-weight: 300;
  }

  .icon-white .arrow {
    font-size: 20px;
    rotate: -35deg;
  }

  .learn-more .learn {
    display: none;
  }

  .card-image img {
    width: 100%; /* Make image responsive */
    margin-top: 60px;
  }
}

@media (max-width: 350.98px) {
}
@media (max-width: 1199.98px) {
  /* Reusable Breakpoints css */
  .container {
    max-width: 960px;
  }
  /* Reusable Breakpoints css */

  /* kartavya Hero Section Responsive CSS start  */
  .hero-section .hero-detail .hero-content-wrap .heading {
    font-size: 50px;
    line-height: 59.56px;
  }
  .hero-section .hero-detail .hero-content-wrap .heading.mb-2,
  .hero-section .hero-detail .hero-content-wrap .description.mb-2 {
    margin-bottom: 20px;
  }
  .hero-section .hero-detail {
    gap: 50px;
  }
  /* kartavya Hero Section Responsive CSS end  */
}

@media (max-width: 991.98px) {
  /* Reusable Breakpoints css */
  .container {
    max-width: 720px;
  }
  /* Reusable Breakpoints css */

  /* kartavya Hero Section Responsive CSS start  */
  .hero-section .hero-detail .hero-content-wrap .heading {
    font-size: 45px;
    line-height: 49.56px;
  }
  .hero-section .hero-detail .description {
    font-size: 16px;
    line-height: 24px;
  }
  /* kartavya Hero Section Responsive CSS end  */
}

@media (max-width: 767.98px) {
  /* Reusable Breakpoints css */
  .container {
    max-width: 100%;
  }
  /* Reusable Breakpoints css */

  .heading-wrap {
    flex-direction: column;
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  /* ===================jenali Cline-section css start================== */
  .logos:before,
  .logos:after {
    width: 100px;
    height: 100%;
  }

  .logos-slide img {
    width: 100px;
    height: unset;
    margin: 0 19px;
  }

  /* ===================jenali Cline-section css start================== */
}

@media (max-width: 576.98px) {
  /* kartavya Hero Section Responsive CSS start  */
  .hero-section .hero-detail {
    flex-wrap: wrap;
  }
  .hero-section
    .hero-detail
    .hero-content-wrap
    .description-and-btn-desktop-wrap {
    display: none;
  }
  .hero-section .hero-detail .column.w-50 {
    width: 100%;
  }
  .hero-section .hero-detail {
    gap: 10px;
  }
  .hero-image .description-and-btn-mobile-wrap {
    display: block;
  }
  .hero-section .hero-detail .description {
    margin-bottom: 40px;
  }
  /* kartavya Hero Section Responsive CSS end  */
}

@media (max-width: 350.98px) {
}
